<%= form_for(service_addendum) do |f| %>
  <% if service_addendum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_addendum.errors.count, "error") %> prohibited this service_addendum from being saved:</h2>

      <ul>
      <% service_addendum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
