---
http_interactions:
- request:
    method: get
    uri: https://api-v3.mbta.com/vehicles?filter%5Bdirection_id%5D=0&filter%5Broute%5D=Green-D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Last-Modified:
      - Fri, 04 Jan 2019 21:21:44 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"attributes":{"bearing":315.0,"current_status":"INCOMING_AT","current_stop_sequence":520,"direction_id":0,"label":"3814-3616","latitude":42.32905960083008,"longitude":-71.17875671386719,"speed":null,"updated_at":"2019-01-04T16:15:03-05:00"},"id":"G-10336","links":{"self":"/vehicles/G-10336"},"relationships":{"route":{"data":{"id":"Green-D","type":"route"}},"stop":{"data":{"id":"70171","type":"stop"}},"trip":{"data":{"id":"ADDED-1545260476","type":"trip"}}},"type":"vehicle"},{"attributes":{"bearing":200.0,"current_status":"INCOMING_AT","current_stop_sequence":100,"direction_id":0,"label":"3867-3649","latitude":42.353050231933594,"longitude":-71.06456756591797,"speed":null,"updated_at":"2019-01-04T16:20:45-05:00"},"id":"G-10137","links":{"self":"/vehicles/G-10137"},"relationships":{"route":{"data":{"id":"Green-D","type":"route"}},"stop":{"data":{"id":"70157","type":"stop"}},"trip":{"data":{"id":"3899[...]
