<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grouped_routes.each do |type, routes| -%>
    <tr><td colspan="3"><b><%= Route::ROUTE_TYPES[type] %></b></td></tr>
    <% routes.sort_by(&:name).each do |route| -%>
    <tr>
      <td><%= link_to(route.long_name == "" ? route.short_name : route.long_name, route) %></td>
    </tr>
    <% end -%>
    <% end -%>
  </tbody>
</table>
