<p id="notice"><%= notice %></p>

<div class="grid-padding-x">
  <div class="cell small-6">
    <h3>Welcome to MBTA Map</h3>

    Click the menu icon in the top left to get started. <br /><br />
    If you have any comments, send me a message at <%= link_to "mbtamap@gmail.com", "mailto:mbtamap@gmail.com" %>.
  </div>
</div>
