@import "foundation_and_overrides";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 700px;
  width: 100%;
}

.route-utilities {
  border: 0px;
}

.route-utilities li {
  width: 50%;
}

.route-utilities li.is-active {
  border-bottom: 4px solid white;
}

.route-utilities li a {
  font-weight: bold;
  color: white;
  font-size: 14px;
}

// Prevent default hover behavior
.route-utilities li a:hover {
  color: inherit;
  background-color: inherit;
}

.main-nav a.home-link {
  font-weight: bold;
}
