@import "foundation_and_overrides";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 85%;
  width: 100%;
}

.route-banner {
  padding-left: 20px;
  padding-right: 20px;
}

.route-banner .route-name {
  font-weight: bold;
}

.route-banner a {
  color: black;
  text-decoration: underline;
}

.route-banner a.link-active {
  font-weight: bold;
}
