@import "foundation_and_overrides";

$title-bar-height: 50px;
$route-utilities-height: 40px;

/*
  Main nav
*/

.title-bar {
  height: $title-bar-height;
}

.main-nav a.home-link {
  font-weight: bold;
  background-color: black;
  color: white;
}


/*
  Route utilities
*/

.route-utilities {
  width: 100%;
  height: $route-utilities-height;
  background-color: black;
  margin: 0px;
}

.route-utilities li {
  display: inline-block;
  width: 49%;
  height: 100%;
}

.route-utilities li.is-active {
  border-bottom: 4px solid white;
}

.route-utilities li a {
  font-weight: bold;
  color: white;
  font-size: 14px;
  display: block;
}


/*
  Other
*/

#map {
  width: 100%;
  min-height: 200px;
  height: calc(100vh - #{$title-bar-height} - #{$route-utilities-height});
}
